*.bkp
*.DS_STORE
*.o
*.out
*.so
*.swp
*.a
*.test
.venv
.vimrc
benchmarks/
build/
docs/build
dist/
.eggs/
tests/bin/
tests/playground/
*.egg-info/
__pycache__/
.tox/
.python-version
Session.vim


*.ipynb
*.ipynb_checkpoints/
notebooks/
