recursive-include include *.h
recursive-include src/vmath *.h
recursive-include src/chainsaddiction *.h
recursice-include src/chainsaddiction/utils *.h
recursive-include src/chainsaddiction/poishmm *.h
